<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.seotlt.book"
        version     = "1.0.1" >
 
    <!-- versionCode is Android only -->
    <!-- version is in major.minor.patch format --> 
    <name>Book</name>
 
    <description>
        Book
    </description>
 
    <author href="http://seotlt.ru" email="info@seotlt.ru">
        seotlt
    </author>
 
   <preference name="orientation" value="landscape" />
  <preference name="fullscreen" value="true" />
  <preference name="KeepRunning" value="false"/>
  
<preference name="MediaPlaybackRequiresUserAction" value="true"/>
<preference name="AllowInlineMediaPlayback" value="true"/>
        
     <preference name="android-build-tool" value="gradle" />  
</widget>